#tab2_right search_result_box{
    padding-top: 10px;
    padding-bottom: 10px;
}
.table_left{
    padding-top: 10px;
}
#tableBoxModle{padding-bottom: 15px}
.form-horizontal .form-group{
    min-height: 26px;
}