.moonrangepicker {
  position: absolute;
  background: #fff;
  top: 100px;
  left: 20px;
  padding: 4px;
  margin-top: 1px;
  border-radius: 4px;
  width: 500px;
  height: auto; }
  .moonrangepicker .calendar.left, .moonrangepicker .calendar.right {
    clear: none;
    width: 46%;
    display: inline-block;
    margin: 0 2%; }
    .moonrangepicker .calendar.left .header .hdBtn, .moonrangepicker .calendar.right .header .hdBtn {
      display: inline-block;
      padding: 0 13px;
      cursor: pointer; }
      .moonrangepicker .calendar.left .header .hdBtn:hover, .moonrangepicker .calendar.right .header .hdBtn:hover {
        background: #ececec;
        border-radius: 3px; }
    .moonrangepicker .calendar.left .header .yearBox, .moonrangepicker .calendar.right .header .yearBox {
      display: inline-block;
      text-align: center;
      width: 83.5%;
      font-weight: 600;
      cursor: default;
      user-select: none; }
    .moonrangepicker .calendar.left .cbody .moonBox, .moonrangepicker .calendar.right .cbody .moonBox {
      display: inline-block;
      width: 23%;
      height: 50px;
      line-height: 54px;
      float: left;
      margin: 1%;
      cursor: pointer;
      text-align: center;
      user-select: none; }
      .moonrangepicker .calendar.left .cbody .moonBox span, .moonrangepicker .calendar.right .cbody .moonBox span {
        pointer-events: none; }
    .moonrangepicker .calendar.left .cbody .moonBox:hover, .moonrangepicker .calendar.right .cbody .moonBox:hover {
      background: #108ee9;
      color: #fff; }
    .moonrangepicker .calendar.left .cbody .focused, .moonrangepicker .calendar.right .cbody .focused {
      background: #e6f0ff;
      color: #fff; }
    .moonrangepicker .calendar.left .cbody .in-range, .moonrangepicker .calendar.right .cbody .in-range {
      background: #b7ddf8;
      color: #fff; }
    .moonrangepicker .calendar.left .cbody .active, .moonrangepicker .calendar.right .cbody .active {
      background: #108ee9;
      color: #fff; }
    .moonrangepicker .calendar.left .cbody .disable, .moonrangepicker .calendar.right .cbody .disable {
      color: #E0E0E0;
      background: #f7f7f7; }
    .moonrangepicker .calendar.left .cbody .disable:hover, .moonrangepicker .calendar.right .cbody .disable:hover {
      color: #E0E0E0;
      background: #f7f7f7; }
  .moonrangepicker .clearBtn {
    text-align: center;
    font-weight: 600;
    cursor: pointer;
    padding: 4px 6px;
    border: 1px solid #ececec;
    border-radius: 3px;
    user-select: none; }
  .moonrangepicker .clearBtn:hover {
    background: #108ee9;
    color: #fff; }

.moonrangepicker-dropdown {
  padding: 8px;
  z-index: 11000; }

.moonrangepicker-dropdown:before {
  position: absolute;
  top: -7px;
  left: 9px;
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-left: 7px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: ''; }

.moonrangepicker-dropdown:after {
  position: absolute;
  top: -6px;
  left: 10px;
  display: inline-block;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #fff;
  border-left: 6px solid transparent;
  content: ''; }

/*# sourceMappingURL=moonRangePicker.css.map */
